extends ../../layouts/default.pug 

block main 
    .container.my-3 
        .row    
            .col-12 
                if product
                    h1= product.title
                    if product.thumbnail
                        img(src=product.thumbnail, alt=product.title, style="max-width:220px;")
                    p.mt-3 Giá: 
                        strong= product.price ? product.price.toLocaleString() + ' ₫' : '0 ₫'
                    p.mt-2
                        .mt-1 !{product.description}
                    p.mt-2
                        | Số lượng: #{product.stock}
                    p.mt-2
                        | Giảm giá: #{product.discountPercentage}%
                else
                    .alert.alert-danger Sản phẩm không tồn tại hoặc đã bị xóa!