extends ../../layouts/default.pug

block head
    link(rel="stylesheet", href="/admin/css/detail.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")

block main
    .article-detail
        .container
            .row.justify-content-center
                .col-lg-11.col-xl-10
                    .article-card
                        if article
                            // Article Header
                            .article-header
                                h1= article.title
                             
                            // Main Content
                            .article-content
                                // Article Image
                                if article.thumbnail
                                    .article-image-section
                                        img.article-image(
                                            src=article.thumbnail
                                            alt=article.title || 'Article Image'
                                        )
                                 
                                // Status
                                .info-group.status
                                    .info-label Trạng thái
                                    .info-value
                                        if article.status === 'active'
                                            span.status-badge.active Hoạt động
                                        else
                                            span.status-badge.inactive Dừng hoạt động
                                 
                                // Position
                                .info-group.position
                                    .info-label Vị trí hiển thị
                                    .info-value= (article.position || 0)
                                                     
                                // Category
                                .info-group.category
                                    .info-label Danh mục bàu viết
                                    .info-value= article.article_category_id || 'Không có danh mục'
                           
                            // Description
                            if article.description
                                .description-section
                                    .description-title Mô tả bài viết
                                    .description-content
                                        .description-text !{article.description}
                             
                            // Edit Button
                            .edit-button
                                a.btn-edit(href=`${prefixAdmin}/articles/edit/${article.id}`)
                                    i.fas.fa-edit.me-2
                                    | Chỉnh sửa
                         
                        else
                            .error-state
                                .error-icon
                                    i.fas.fa-exclamation-triangle
                                .error-message
                                    h4 Không tìm thấy bài viết
                                    p Bài viết không tồn tại hoặc đã bị xóa!
         
    script(src="/admin/js/product.js")