extends ../../layouts/default.pug

include ../../mixins/alert.pug

block main
    +alertError(4000)
    h1(class="mb-4") Chỉnh sửa bài viết
    form(
        action=`${prefixAdmin}/articles/edit/${article._id}`
        id="form-edit-article"
        method="POST"
        enctype="multipart/form-data"
    )
        // Tiêu đề
        .form-group
            label(for="title") Tiêu đề
            input.form-control(
                type="text",
                id="title",
                name="title",
                required,
                value=article.title
            )

        // Mô tả
        .form-group
            label(for="desc") Mô tả
            textarea.form-control(
                id="desc",
                name="description",
                rows="5"
            ) #{article.description}

        // Danh mục
        .form-group
            label(for="article_category_id") Danh mục
            select.form-control(
                id="article_category_id",
                name="article_category_id",
                required
            )
                option(value="") -- Chọn danh mục --
                each category in records
                    option(
                        value=category._id,
                        selected=article.article_category_id && article.article_category_id.toString() === category._id.toString()
                    )= category.title

        // Ảnh đại diện
        .form-group(upload-image)
            label(for="thumbnail") Ảnh
            input.form-control-file(
                upload-image-input,
                type="file",
                id="thumbnail",
                name="thumbnail",
                accept="image/*"
            )
            button.btn.btn-sm.btn-danger.ms-2(
                type="button",
                upload-image-remove,
                style="display:none;position:absolute;right:10px;top:10px;z-index:2;"
            ) x
            if article.thumbnail
                img.image-preview(
                    src=article.thumbnail,
                    upload-image-preview
                )

        // Vị trí
        .form-group
            label(for="position") Vị trí
            input.form-control(
                type="number",
                id="position",
                name="position",
                placeholder="Tự động tăng",
                min="1",
                value=article.position
            )

        // Trạng thái
        .form-group.mb-3
            label.mb-2 Trạng thái
            .form-check.form-check-inline
                input.form-check-input(
                    type="radio",
                    id="statusActive",
                    name="status",
                    value="active",
                    checked=article.status=='active'
                )
                label.form-check-label(for="statusActive") Hoạt động
            .form-check.form-check-inline
                input.form-check-input(
                    type="radio",
                    id="statusInActive",
                    name="status",
                    value="inactive",
                    checked=article.status=='inactive'
                )
                label.form-check-label(for="statusInActive") Dừng hoạt động

        // Nút submit
        .form-group
            button.btn.btn-primary(type="submit") Cập nhật

    script(src="/admin/js/product.js")